html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

* {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

.heading {
    font-size: 40px;
    color: #7323dc;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 70px;
    font-weight: 400;
}
.hidden-desktop{
    display: none;
}

/*-----navbar ---*/

.navbar {
    position: absolute;
    width: 100%;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    color: #fff;
}

.navbar-right {
    margin-top: 10px;
}

.navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 5px 2px;
    margin: 0 10px;
}

.navbar-nav>li>a.touch {
    border: 3px solid #7323dc;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background: transparent;
    border-bottom: 3px solid #7323dc;
}

.navbar-brand ul li {
    padding: 0;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}

.navbar-brand .logo {
    border-radius: 3px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    background: #b0ddff;
    letter-spacing: 1px;
    color: #7323dc;
    font-weight: bold;
}

.logo-txt {
    font-size: 20px;
    color: #fff;
    margin-left: 5px;
}


/* ---home-landing-page ---*/

.home {
    background: url("../assets/landing.jpg") center/cover;
    height: 100%;
}

.home .outer {
    display: table;
    width: 100%;
    height: 100%;
}

.home-heading {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.home h2 {
    margin: 0 auto;
    color: #fff;
    font-family: Roboto Condensed;
    font-size: 40px;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-weight: 400;
}

.home h3 {
    margin: 0 auto;
    color: #EEE5DE;
    font-size: 27px;
    padding-top: 15px;
    font-weight: 400;
}

.home .text {
    max-width: 575px;
    margin: 0 auto;
}

.home .fixed-text {
    display: inline-block;
    max-width: 32%;
    float: left;
    width: 100%;
    padding: 5px 0 3px;
}

.home .change-text {
    max-width: 68%;
    width: 100%;
    display: inline-block;
    text-align: left;
    padding: 5px 0 3px;
}

.subscribe-btn {
    border-radius: 5px;
    border: none;
    padding: 12px 22px;
    left: 45%;
    font-size: 21px;
    color: #fff;
    margin-top: 35px;
    background: #7323dc;
    transition: all 0.23s ease-in-out 0s;
    opacity: 0.8;
}

.subscribe-btn:hover {
    opacity: 1;
}


/* Quote Page */

.quote {
    padding: 100px 0;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.quote h1 {
    font-size: 30px;
    line-height: 1.4em;
    color: #7323dc;
    font-weight: 200;
    max-width: 85%;
    margin: 0 auto;
}


/* -----about-page ----*/

.about {
    width: 100%;
    height: auto;
    padding: 120px 0;
    text-align: center;
}

.about .sub-heading {
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    line-height: 1.4em;
    margin: 0;
    color: #7323dc;
}

.about img {
    width: 200px;
}

.about p {
    font-size: 20px;
    text-align: left;
    margin: 0;
    line-height: 1.8em;
    max-width: 500px;
    font-weight: 100;
}

.about-one,
.about-three {
    background: #96ffed;
}


/* Partners */

.partners {
    padding: 100px 0;
}

.partners ul {
    margin: 0;
    text-align: center;
}

.partners ul li {
    padding: 0px 35px;
    vertical-align: middle;
}

.partners ul li a {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid #eee;
    line-height: 140px;
}

.partners ul li img {
    width: 150px;
    border-radius: 10px;
}

.partners ul li img.small-wdth {
    width: 145px;
}


/* Subscription section */

.subscribe {
    padding: 100px 0;
    background: #f8f8f8;
    border-top: 1px solid #eee;
}

.subscribe h3 {
    margin: 5px 0 20px;
    font-weight: 400;
}

.subscribe ul {
    margin: 0;
    padding: 0 20px;
}

.subscribe ul li {
    font-size: 16px;
    padding: 10px 0;
    color: #666;
}

.subscribe #mc_embed_signup form {
    width: 60%;
    padding: 0px;
    margin-top: 5%;
}

.subscribe #mc_embed_signup .mc-field-group {
    width: 100%;
}

.subscribe #mc_embed_signup .mc-field-group input {
    outline: none;
    padding: 11px 0;
    margin-bottom: 10px;
}

.subscribe #mc_embed_signup .button {
    margin: 0;
    padding: 11px 0;
    width: 100%;
    height: 44px;
    line-height: 24px;
    font-size: 16px;
    text-transform: uppercase;
    background: #7323dc;
    opacity: 0.8;
    color: #fff !important;
    outline: none;
}

.subscribe #mc_embed_signup .button:hover {
    opacity: 1;
    background: #7323dc;
}


/*  Footer  */

.footer {
    padding: 20px 0;
    background: #000;
    color: #fff;
}

.info {
    margin-top: 16px;
    font-size: 18px;
}

.info span {
    border-right: 1px solid #fff;
    padding: 0 9px;
}
.info span a{
    color: #fff;
}

.info span.no-border {
    border: 0px;
}

.icons span {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 2px;
    margin-top: 15px;
    margin-right: 10px;
    color: #fff;
    opacity: 0.8;
    transition: all 0.23s ease-in-out 0s;
}

.icons span:hover {
    opacity: 1;
}

.twitter {
    background: #1da1f2;
}

.meetup {
    background: #e0393e;
}

.facebook {
    background: #3b5998;
}


/*media querie*/

@media only screen and (max-width: 769px) {
    .hidden-desktop{
        display: block;
    }
    .home {
        height: 60vh;
    }
    .home h2 {
        font-size: 30px;
    }
    .home .fixed-text,
    .home .change-text {
        max-width: 100%;
        text-align: center;
    }
    .home h3 {
        font-size: 18px;
        padding-top: 10px;
    }
    .heading {
        line-height: 1.6em;
        font-size: 30px;
        margin-bottom: 50px;
    }
    .subscribe-btn {
        font-size: 16px;
        margin-top: 25px;
    }
    .quote h1 {
        font-size: 20px;
    }
    .quote,
    .about,
    .partners {
        padding: 60px 0;
    }
    .about .sub-heading {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
    }
    .about p {
        text-align: center;
        font-size: 18px;
        padding: 0 10px;
    }
    .pull-right {
        float: none !important;
    }
    .partners ul li {
        padding: 0 20px;
        margin-bottom: 40px;
    }
    .partners ul li a {
        width: 100px;
        height: 100px;
        line-height: 90px;
    }
    .partners ul li img.small-wdth {
        width: 90px;
    }
    .partners ul li img {
        width: 100px;
    }
    .subscribe #mc_embed_signup form {
        width: 100%;
        margin-bottom: 40px;
    }
    .subscribe h3 {
        line-height: 1.4em;
    }
    .subscribe ul li {
        padding: 5px 0;
    }
    .footer .navbar-brand {
        float: none;
    }
    .footer {
        text-align: center;
    }
    .info {
        margin-bottom: 10px;
    }
}
